{
	email admin@logi.codes
}

hamm-bunt.de {
	basicauth {
		zusammen $2a$14$.fyTEX4kISJWzpV0ogn9pOOHf26GUOdvOo/StT644fcB2vC7KVnJq
	}
	encode gzip

	root * /usr/share/kirby

	php_fastcgi website:9000 {
		root /var/www/html
	}

	@blocked {
		path *.txt *.md /content/* /site/* /kirby/* /.*
	}
	redir @blocked /

	file_server
}

chat.hamm-bunt.de {
	reverse_proxy mattermost:8065
}

wss://chat.hamm-bunt.de {
	reverse_proxy / mattermost:8443 {
		websocket
		transparent
	}
}
