{
	email admin@logi.codes
}

hamm-bunt.de {
	# basicauth {
	# zusammen $2a$14$hi1R8ntEjMdBzb1Xvg415uTk5epfqLe.pcwu9IPUtdJkTSrSpDa1y
	# }
	encode gzip

	root * /usr/share/content

	reverse_proxy ghost:2368 {
		header_up Host {host}
	}

	@blocked {
		path *.txt *.md
	}
	redir @blocked /

	file_server
}

chat.hamm-bunt.de {
	reverse_proxy rocketchat:3000
}
